*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2% 45% 45% 2%;
  grid-template-rows: 95% 5%;
  justify-content: center;
  align-content: center;
  gap: 15px;
  
}
.grid div{
  background-color: #403f3f;
  color: white;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
