:root{
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  background-color: #f6f6f6;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.logo{
  width: 40%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  width: 60%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
nav ul li{
  padding: 10px;
}
header h2{
  width: 100%;
  text-align: center;
  height: 50px;
}
header p{
  width: 50%;
  text-align: center;
}
header div:last-child{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.blue{
  color: #03a9f4;
}
.cards{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cards > div{
  width: 150 ;
  height: 70% ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards > div .image{
  width: 100%;
  display: flex;
  justify-content: center;
}
.about{
  width: 100%;
  height: 400px;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.about div:last-child {
  width: 40%;
}
.about div:last-child h2{
  margin-bottom: 10px;
}
.services-card,
.clients-card,
.design-card{
  width: 300px;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-card{
  background-color: #b33939;
  position: relative;
}

.services-card::after{
  content: "Services";
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  font-size: 16px;
}
.clients-card{
  background-color: #227093;
  position: relative;
}
.clients-card::after{
  content: "Clients";
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  font-size: 16px;
}
.design-card{
  background-color: #218c74;
  position: relative;
}
.design-card::after{
  content: "Design";
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  font-size: 16px;
}
.skills{
  height: 500px;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}
.skills h2{
  width: 100%;
  text-align: center;
}
.skills ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.skills ul li{
  padding: 18px;
  text-align: right;
  font-weight: bold;
}
.percent{
  width: 900px;
  height: 45px;
  background-color: white;
  margin-bottom: 12px;
}
.sixty::after{
  content: "60%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: #03a9f4 ;
  color: white;
  font-weight: bold;
}
.seventy::after{
  content: "70%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: #03a9f4 ;
  color: white;
  font-weight: bold;
}
.eighty::after{
  content: "80%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: #03a9f4 ;
  color: white;
  font-weight: bold;
}
.fifty::after{
  content: "50%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #03a9f4 ;
  color: white;
  font-weight: bold;
}
.ninety::after{
  content: "90%";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 100%;
  background-color: #03a9f4 ;
  color: white;
  font-weight: bold;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #333333;
  color: white;
}