ul{
  width: 400px;
  margin: auto;
}
.java-script,
.html,
.css{
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
}
.html li{
  list-style-type: decimal;
}
.css li{
  list-style-type: upper-roman;
}
.html ol li,
.css ol li{
  background-color: white;
  margin: 5px;
  padding: 5px;
}
.java-script ul{
  margin: 10px;
  padding-left: 0;
}
.java-script ul li {
  list-style-position: inside;
  background-color: white;
  margin: 10px;
  padding: 5px;
}
