div{
    background-color: #EEE;
    width: 400px;
}
.assign-5-shape-1{
    border-left: 5px solid #e91e63;
    
}
.assign-5-shape-2{
    visibility: hidden;
}
.assign-5-shape-3{
    border-left: 5px solid #009688;
}