*{
  box-sizing: border-box;
}
.parent{
  width: 600px;
  height: 300px;
  padding: 10px;
  background-color: #EEE;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.parent div{
  background-color: #009688;
  color: white;
  height: calc(90% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}
.parent .two{
  align-self: flex-start;
  width: 50%;
}