*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-content: space-between;
  gap: 15px;
}
.grid div{
  background-color: #e91e63;
  color: white;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}