.continer{
  width: 50%;
  margin:auto;
}
h1{
  text-align: center;
}
table{
  margin: auto;
}
table td{
  padding:30px ;
  margin: 10px;
  background-color: #eee;
}
table th{
  padding:10px ;
  margin: 10px;
  background-color: #404040;
  color: white;
}
.view{
  background-color: #03a9f4;
  color: white;
  padding: 5px;
}
.delete{
  background-color: #e91e63;
  color: white;
  padding: 5px;
}
