:root {
  --mainColor: #009688;
  --mainPadding: 10px;
}

div {
  border: 2px solid var(--mainColor,black);
  padding: var(--mainPadding,10px);
  color: var(--mainColor,red);
  margin: 5px;
}