*{
  box-sizing: border-box;
}

div{
  width: 100px;
  height: 100px;
  background-color: #EEE;
  margin: auto;
  margin-top: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 8px 0px black inset;
}